<div class="page-header">
  <h1>Chart</h1>
</div>

<div>
  <canvas class="chart chart-line"
    chart-data="$ctrl.chart.data"
    chart-labels="$ctrl.chart.labels"
    chart-series="$ctrl.chart.series"
    chart-options="$ctrl.chart.options">
  </canvas>
</div>

<div ng-repeat="category in $ctrl.categories">
  <div class="checkbox">
    <label>
      <input ng-model="$ctrl.categoryVisibilities[category]"
             ng-change="$ctrl.applyCategoryVisibilities()"
             type="checkbox" />
      {{category}}
    </label>
  </div>
</div>
